Source: liblanguage
Section: core
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7), automake, libtool, pkg-config, lops-dev
XCS-Cross-Host-Build-Depends: debhelper (>= 7), automake, pkg-config, libtool
XCS-Cross-Build-Depends: lops-dev
Priority: optional
Standards-Version: 3.8.0

Package: liblanguage0
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Description: language setup manipulation library
 This library reads system-wide list of supported languages and allows to
 manipulate user's default language.

Package: liblanguage-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: liblanguage0 (= ${binary:Version})
Description: language setup manipulation library -- development files
 This library reads system-wide list of supported languages and allows to
 manipulate user's default language.
 .
 This package contains development files required to link with the library.

Package: liblanguage-data
Priority: optional
Architecture: all
Conflicts: liblanguage-azbooka-data
Provides: liblanguage-azbooka-data
Description: language setup manipulation library -- data files
 This library reads system-wide list of supported languages and allows to
 manipulate user's default language.
 .
 This package contains data files required by library.

Package: liblanguage-azbooka-data
Priority: optional
Architecture: all
Conflicts: liblanguage-data
Provides: liblanguage-data
Description: language setup manipulation library -- data files
 This library reads system-wide list of supported languages and allows to
 manipulate user's default language.
 .
 This package subset data files required by library, supported by Azbooka
 project.
